<title>TuSegundazo</title>
<h1>TuSegundazo.com</h1>
<header class="banner">
  <div class="banner-content">
      <img src="../assets/carro.png" alt="Header Image">
      <div class="text-container">
          <h1 class="white-text blue-background">COMERCIALIZACIÓN DE AUTOMOTORES</h1>
          <p class="white-text black-background">Nuevos y Usados</p>
      </div>
  </div>
</header>
<app-vehiculo></app-vehiculo>

<h6 class="text-center">Contact us: +57 3102105253 - info&commat;tusengudazo.com - &commat;tusegundazo</h6>